################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Language/.vs/Language
/Language/Vocabulary/bin/Debug/net8.0
/Language/Vocabulary/obj
/Language/.vs/ProjectEvaluation
/Language/Numbers/bin/Debug/net8.0
/Language/Numbers/obj
/Language/Formatting/bin/Debug/net8.0
/Language/Formatting/obj
/Language/Arguments/bin/Debug/net8.0
/Language/Arguments/obj
/Language/AsyncConsole/bin/Debug/net8.0
/Language/AsyncConsole/obj
/.vs
/Language/SelectionStatements/bin/Debug/net8.0
/Language/SelectionStatements/obj
/Language/Arrays/bin/Debug/net8.0
/Language/Arrays/obj
/Language/CastingConverting/bin/Debug/net8.0
/Language/CastingConverting/obj/Debug/net8.0
/Language/CastingConverting/obj
/Language/HandlingExceptions/bin/Debug/net8.0
/Language/HandlingExceptions/obj
/Language/WritingFunctions/bin/Debug/net8.0
/Language/WritingFunctions/obj
/Language/Instrumenting/bin
/Language/Instrumenting/obj
/Language/Instrumenting2/bin/Debug/net8.0
/Language/Instrumenting2/obj
/Testing/CalculatorLib/bin/Debug/net8.0
/Testing/CalculatorLib/obj
/Testing/CalculatorLibUnitTests/bin/Debug/net8.0
/Testing/CalculatorLibUnitTests/obj
/OOP/.vs
/OOP/PacktLibraryModern/bin/Debug/net8.0
/OOP/PacktLibraryModern/obj
/OOP/PacktLibraryNetStandard2/bin/Debug/netstandard2.0
/OOP/PacktLibraryNetStandard2/obj
/OOP/PeopleApp/bin/Debug/net8.0
/OOP/PeopleApp/obj
