################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Language/.vs/Language
/Language/Vocabulary/bin/Debug/net8.0
/Language/Vocabulary/obj
/Language/.vs/ProjectEvaluation
/Language/Numbers/bin/Debug/net8.0
/Language/Numbers/obj
/Language/Formatting/bin/Debug/net8.0
/Language/Formatting/obj
/Language/Arguments/bin/Debug/net8.0
/Language/Arguments/obj
/Language/AsyncConsole/bin/Debug/net8.0
/Language/AsyncConsole/obj
