@page
@using Northwind.EntityModels
@model Northwind.Web.Pages.WebApiTestModel 
<div class="row">
    <h1 class="display-2">WebApiTest</h1>
    <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th>Company Name</th>
                <th>Country</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Customers is not null)
            {
                @foreach (Customer c in Model.Customers)
                {
                    <tr>
                        <td>@c.CompanyName</td>
                        <td>@c.Country</td>
                        <td>@c.Phone</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
